CREATE OR REPLACE FUNCTION match_rulings(query_embedding vector(1536), match_threshold float DEFAULT 0.8, match_count int DEFAULT 5)
RETURNS TABLE(id text, ruling_code text, ruling_title text, section_title text, paragraph text, content text, content_tokens int, embedding vector(1536), source_url text, effective_year int, applies_to text[], similarity float)
LANGUAGE plpgsql
AS $$
BEGIN
  RETURN QUERY
  SELECT
    rv.id,
    rv.ruling_code,
    rv.ruling_title,
    rv.section_title,
    rv.paragraph,
    rv.content,
    rv.content_tokens,
    rv.embedding,
    rv.source_url,
    rv.effective_year,
    rv.applies_to,
    1 - (rv.embedding <=> query_embedding) as similarity
  FROM rulings_vectors rv
  WHERE rv.embedding <=> query_embedding < match_threshold
  ORDER BY rv.embedding <=> query_embedding
  LIMIT match_count;
END;
$$;